.search-bar-container {
  display: flex;
  justify-content: space-between;

  .search-input {
    position: relative;

    input {
      background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat left;
      background-size: 20px;
      box-sizing: border-box;
      padding-left: 25px !important;
    }
  }
}
